.content{
	display: flex;
	width: 100%;
	max-width: $container;
	justify-content: space-between;
	align-items: center;
	&__titles{
		margin-left: rem(30px);

		@include tablets{
			margin-left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__image{
		max-width: 100%;
		flex-shrink: 0;

		&-pic{
			max-width: 100%;
			max-height: 100%;
		}

		@include phones {
			max-width: 70%;
		}
	}

	@include tablets{
		flex-direction: column;
	}
}
